@page
@model VaskEnTidWeb.Pages.BookingsModel
@{
    ViewData["Title"] = "Booking n shit";
}
<link rel="stylesheet" href="~/css/booking.css" asp-append-version="true" />
<h1>@ViewData["Title"]</h1>


@foreach (VaskEnTidLib.Model.Booking booking in Model.Bookings)
{
    <div class="card">
        <h1>
            Booking Id: @booking.BookingID
        </h1>

        <p>
            Domicile Id: @booking.DomicileID
        </p>
        <p>
            Machine Ids
            @foreach (var i in booking.MachineIDs)
            {
               <text>@i </text>
            }
        </p>
        <p>
            Booking Tidspunkt: @booking.DateAndTime
        </p>
        <p>
            Duration: @booking.Duration
        </p>
        <p>
            TotalCost: @booking.TotalCost
        </p>
        <div>
            <!--This button runs the OnPostShow method and defines a temporary booking id we can send over -->
            <form method="post" asp-page-handler="Show">
                <!--to the next page -->
                <input type="hidden" name="TempBookingID" asp-for="TempBookingID" value="@booking.BookingID" />
                <input type="submit" value="Open Booking" />
            </form>
        </div>
    </div>
}

@foreach (VaskEnTidLib.Model.Machine machine in Model.Machines)
{
    <p>
        @machine.MachineID
    </p>
    <p>
        @machine.Type
    </p>
    <p>
        @machine.Status
    </p>
}