@page
@model ProfileModel
@{
	ViewData["Title"] = "Profile";
}
<div class="text-lg-start">
	<h1> Velkommen @Model.UserMe.FirstName </h1>
</div>
<div>
	<h3>Dine bookninger</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Date and Time</th>
				<th>Machine</th>
				<th>Remove booking?</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Model.Bookings.DateAndTime</td>
				<td>@Model.Bookings.MachineIDs[0]</td>
				<td><input type="submit" value="Delete" /></td>
			</tr>
		</tbody>
	</table>
</div>
@if (Model.UserMe.IsAdmin == true)
{
	<div>
		<h3>Alle Brugere</h3>
		<table class="table">
			<thead>
				<tr>
					<th>UserID</th>
					<th>Fornavn</th>
					<th>Efternavn</th>
					<th>Bolig</th>
					<th>Fjern</th>
				</tr>
			</thead>
@* 			@foreach (VaskEnTidLib.Model.User SpecificUser in @Model.Users) *@
			@for (int i = 0; i < @Model.Users.Count; i++)
			{
				<tbody>
					<tr>
						<td>@Model.Users[i].UserID</td>
						<td>@Model.Users[i].FirstName</td>
						<td>@Model.Users[i].LastName</td>
						<td>@Model.Users[i].DomicileID[0]</td>
						<td><input type="submit" value="Delete" /></td>
					</tr>
				</tbody>
			}
		</table>
	</div>
}

